# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

*.xcscheme

*.xccheckout

*.plist

*.xcuserstate

*.xcworkspacedata

*.pbxproj

*.xcworkspacedata

*.pbxproj

*.xcbkptlist

20150529-4/20150529-4/.DS_Store

20150529-7/20150529-7/.DS_Store

20150530-3/20150530-3/.DS_Store

20150530-4/.DS_Store

20150529-6/.DS_Store

20150529-7/.DS_Store

20150601-1/20150601-1/.DS_Store

20150601-1/.DS_Store

20150530-4/20150530-4/.DS_Store

20150530-3/.DS_Store

20150529-4/.DS_Store

20150716-2/20150716-2/main.c
